.calendar-wrap{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 8%;
}
.day-cell{
    display: flex;
    flex-direction: row;
}
.calendar-header{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}

.not-current-month{
    color: #a9a9a9;
}

.current-month{
    color: #000000;
}
  
table{
    margin-top: 5%;
    table-layout: fixed;
    width: 80%;
    height: 50%;
    text-align: center;
}

td{
    flex-grow:1;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.yes-todos{
    border:solid 3px #198754;
    border-radius: 10px;
}

button{
    text-align: center;
    display: flex;
    height: 85%;
}
thead{
    width:  20%;
}

