#root {
    height: 100vh;
}

.construct{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 50%;
    min-width: 510px;
    position: relative;
    padding-left: 5%;
    
}

.header{
  margin-right: 45%;
  margin-bottom: 5%;
}

.list{
    height: 30vh;
    width: 60%;
    margin-left: -15px;
    overflow-y: scroll; /*영역 벗어나면 스크롤*/
    overflow-x: scroll;
        
}

form{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.button ,.button1{
    background-color: #489d72; 
    border: none; 
    color: white; 
    padding: 4px 9px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 13px; 
    margin: 4px 2px; 
    cursor: pointer; /* 커서 스타일 변경 */
    border-radius: 4px; 
  }
  .button1{
    margin-left: 5px;
  }
  
  button:hover {
    opacity: 0.8; /* 마우스 오버 효과 */
  }
  
  .rowDiv{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 15px;
  }

  h5{
    padding-top: 2vh;
    margin-left: 15px;
    color: #5E5D5D;
  }
  li{
    margin-top: 7px;
  }

  input{
    padding: 5px 0px 0px 10px;
    border: none;
  }

  input:focus {
    outline: none;
  }
  
  .inputDiv{
    margin-bottom: 3px;
    border-bottom: solid 2px #489d72;
  }

  button{
    text-align: center;
    display: flex;
    height: 85%;
}
